body{
    background-image: url("images_movie/background.png");
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}
#page_top{
    background-image: url("images_movie/bannerbg.png");
    text-align: center;
}
h1{
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma,Verdana,sans-serif;
    text-shadow: 3px 3px 0px #999999;
}
#page_wrapper{
    width: 800px;
    margin: auto;
    border: 4px solid gray;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-areas: 'rotten rotten go_img'
                        'reviews reviews go_img'
                        'reviews reviews general_overview'
                        'bottom bottom bottom' ;
}
#rotten{
    background-image: url("images_movie/rbg.png");
    background-repeat: repeat-x;
    width: 550px;
    height: 83px;
    font-weight: bold;
    color: red;
    font-size: 48pt;
    grid-area: rotten;
}
#go_img{
    grid-area: go_img;
}
#reviews{
    width: 550px;
    column-count: 2;
    column-gap: 2%;
    grid-area: reviews;
    /*display: inline-block;*/
}
#general_overview{
    background-color: #A2B964;
    /*width: 250px;*/
    padding: 10pt;
    font-size: 8pt;
    font-family: Arial, sans-serif;
    grid-area: general_overview;
}
.quote{
    font-size: 8pt;
    font-weight: bold;
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
}
.reaction_img{
    float: left;
    margin-right: 5px;
}
#page_bottom{
    grid-area: bottom;
    background-color:#A2B964;
    padding:5px;
    text-align:center;
}
.post{
    margin: 20pt;
}
dt{
    font-weight:bold;
    margin-top:10px;
}
dd ul {
    list-style:none;
    padding-left:0;
}

dl{
    padding:10pt;
}
footer {
    text-align:right;
    position:fixed;
    bottom:0;
    right:0;
}